@charset "UTF-8";
@keyframes moveInLeft {
  0% {
    transform: translateX(-100%); }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(100%); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 56%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 56%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 62.5%; } }

body {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  transform: translate3d(0px, 0px, 0px);
  transition: all 700ms ease;
  overflow-y: hidden;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #231f20; }

.main-slogan {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .main-slogan__primary {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .main-slogan__primary {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .main-slogan__sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    margin-bottom: 6rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .main-slogan__sub {
        letter-spacing: .5rem; } }

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewX(10deg) skewY(0.2deg) scale(1.02);
    text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.3); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: .2s;
  background-color: #d5d5d5;
  max-width: 150px;
  font-family: 'Perfect DOS VGA 437 Win';
  font-size: 2rem;
  border: none;
  cursor: pointer;
  color: #000082; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none; }

.main-footer {
  color: #fff;
  background-color: #000;
  padding: 2rem 0;
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .main-footer-wrap {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto; }

.mob .main-header {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: auto;
  transition: all 700ms ease; }
  .mob .main-header .button-wrap {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    z-index: 2;
    margin-bottom: -1px; }
  .mob .main-header .navigation-toggle {
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 4rem;
    padding: 1rem;
    line-height: .9;
    outline: none; }

.mob .navigation {
  position: relative;
  display: none; }
  .mob .navigation.open {
    display: block; }
  .mob .navigation-wrap {
    display: flex;
    justify-content: space-between; }
  .mob .navigation .main-logo {
    z-index: 2; }
  .mob .navigation-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: max-content;
    list-style: none;
    z-index: 2;
    background-color: #000; }
  .mob .navigation-item {
    margin: 0 1rem; }
  .mob .navigation-link {
    position: relative;
    font-family: 'Avanti';
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    transition: .3s; }
    .mob .navigation-link:hover {
      color: white; }
    .mob .navigation-link.active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 5px;
      background-color: #f5a621; }

.mob .main {
  transform: translate3d(0px, 0px, 0px);
  transition: all 700ms ease;
  overflow-y: hidden;
  scroll-behavior: smooth; }

.mob .home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #eee; }
  .mob .home-main-wrap {
    position: relative;
    height: 100vh;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden; }
    .mob .home-main-wrap::before, .mob .home-main-wrap::after {
      content: '';
      position: absolute; }
    .mob .home-main-wrap::before {
      width: 55%;
      height: 100%;
      background-image: url("../img/main--gepart.png");
      background-position: 99%;
      background-size: cover; }
    .mob .home-main-wrap::after {
      bottom: 0;
      right: 0;
      width: 30%;
      height: 20%;
      background-image: url("../img/main--dots.png");
      background-size: cover; }
  .mob .home-main-container {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 65vh;
    margin-top: 13vh; }
    @media (min-width: 112.5em) {
      .mob .home-main-container {
        margin-top: 10vh; } }
  .mob .home-main-title {
    position: relative;
    padding: 12rem 0;
    font-family: 'Intro';
    font-size: 4.5rem;
    line-height: 1;
    text-transform: uppercase;
    color: #231f20;
    writing-mode: vertical-rl;
    transform: rotate(180deg); }
    @media (min-width: 112.5em) {
      .mob .home-main-title {
        padding: 13rem 0;
        font-size: 5.5rem; } }
    .mob .home-main-title::before {
      content: '\25B2\25B2\25B2';
      position: absolute;
      bottom: 1.5rem;
      right: 3rem;
      font-size: 5rem;
      letter-spacing: -15px; }
      @media (min-width: 112.5em) {
        .mob .home-main-title::before {
          bottom: -1.5rem; } }
  .mob .home-main-dots {
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    letter-spacing: -15px;
    font-size: 4rem; }
    .mob .home-main-dots--orange {
      color: #f5a621; }
  .mob .home-main-text {
    position: relative;
    text-align: right;
    text-transform: lowercase;
    padding-right: 1rem;
    font-family: 'Avanti';
    font-size: 3rem;
    line-height: 1; }
    .mob .home-main-text::before {
      content: '';
      position: absolute;
      top: 4.3rem;
      left: calc(7rem - 270px);
      width: 270px;
      height: 10px;
      background-color: #000; }

.mob .about {
  background-image: url("../img/about--bg.png");
  background-position: 0 0;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  .mob .about-wrap {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: calc(100px + 5rem); }
    .mob .about-wrap.animate {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      backface-visibility: hidden; }
  .mob .about-img-wrap {
    position: relative;
    width: 54%;
    height: 95%;
    padding-top: 4rem; }
  .mob .about-img--gepard {
    position: relative;
    display: block;
    width: 90%;
    text-align: center; }
    .mob .about-img--gepard img {
      width: 70%;
      text-align: center; }
      @media (min-width: 112.5em) {
        .mob .about-img--gepard img {
          width: 100%; } }
  .mob .about-img--cat {
    position: absolute;
    top: 55%; }
    @media (min-width: 112.5em) {
      .mob .about-img--cat {
        top: 50%; } }
    .mob .about-img--cat img {
      width: 70%; }
      @media (min-width: 112.5em) {
        .mob .about-img--cat img {
          width: 100%; } }
  .mob .about-img-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: 'Besom 2';
    font-size: 4.7rem;
    line-height: 1; }
  .mob .about-img--ready {
    position: relative;
    padding-right: 30%;
    transform: rotate(-10deg) translate(0, -8rem); }
    @media (min-width: 112.5em) {
      .mob .about-img--ready {
        padding-right: 23%;
        transform: rotate(-10deg) translate(0, -4rem); } }
    .mob .about-img--ready span {
      padding-left: 10rem; }
    .mob .about-img--ready::before, .mob .about-img--ready::after {
      content: '';
      position: absolute; }
    .mob .about-img--ready::before {
      top: -120px;
      left: 5rem;
      width: 35px;
      height: 100px;
      background: url("../img/arrow--1.png") no-repeat;
      transform: rotate(10deg); }
    .mob .about-img--ready::after {
      width: 200px;
      height: 85px;
      left: 0;
      bottom: -7rem;
      background: url(../img/waves--1.png) no-repeat;
      transform: rotate(35deg); }
  .mob .about-img--mockup {
    position: relative;
    padding-right: 30%;
    transform: translate(0, 0); }
    @media (min-width: 112.5em) {
      .mob .about-img--mockup {
        padding-right: 10%;
        transform: translate(0, 9rem); } }
    .mob .about-img--mockup span {
      padding-left: 5rem; }
    .mob .about-img--mockup::before, .mob .about-img--mockup::after {
      content: '';
      position: absolute; }
    .mob .about-img--mockup::before {
      top: -40px;
      left: -80px;
      width: 250px;
      height: 100px;
      background: url("../img/arrow--2.png") no-repeat;
      transform: rotate(10deg); }
  .mob .about-text-wrap {
    position: relative;
    width: 46%;
    height: 90%;
    margin-top: 3rem;
    border: 25px solid #fff;
    border-image: url("../img/about-border.png") 30 round round; }
    .mob .about-text-wrap::before {
      content: 'О нас';
      position: absolute;
      left: -50%;
      top: -3rem;
      width: 150%;
      font-family: 'Intro';
      font-size: 17rem;
      text-transform: uppercase;
      line-height: 0;
      opacity: 0.1; }
  .mob .about-title {
    font-family: 'Intro';
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 3rem;
    line-height: 1; }
  .mob .about-text {
    font-family: 'Avanti';
    font-size: 3rem;
    line-height: 1; }
    .mob .about-text--marked {
      font-size: 4rem;
      line-height: .8; }
  .mob .about-typography {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%; }

.mob .design {
  background-image: url("../img/design--bg.png");
  background-position: 50%;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  .mob .design-wrap {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15%;
    padding-top: 8%; }
    .mob .design-wrap.animate {
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      backface-visibility: hidden; }
    @media (max-width: 75em) {
      .mob .design-wrap {
        padding: 0 13%;
        padding-top: 20%; } }
    @media (min-width: 112.5em) {
      .mob .design-wrap {
        padding: 0 5%;
        padding-top: 15%; } }
    .mob .design-wrap p {
      font-family: 'Avanti';
      font-size: 4rem;
      line-height: 1; }
    .mob .design-wrap h3 {
      font-family: 'Avanti';
      font-size: 4rem;
      background-color: #eb6ca9;
      width: max-content;
      padding: 0 1rem;
      text-transform: uppercase;
      color: #fff; }
    .mob .design-wrap h4 {
      font-family: 'Avanti';
      font-size: 3rem;
      font-weight: normal;
      margin-top: 12rem;
      padding: 0 5rem;
      border-top: 2px solid #fff;
      width: max-content; }
      @media (max-width: 75em) {
        .mob .design-wrap h4 {
          margin-top: 3rem; } }
      @media (min-width: 112.5em) {
        .mob .design-wrap h4 {
          margin-left: 5rem;
          margin-top: 15rem; } }
    .mob .design-wrap h5 {
      font-size: 2rem;
      font-family: 'Intro';
      text-align: center;
      line-height: 1; }
      .mob .design-wrap h5img {
        vertical-align: sub; }
      .mob .design-wrap h5 span {
        color: #eb6ca9; }
  .mob .design-bordered {
    width: max-content;
    padding: 2rem;
    border: 4px solid #0096c2; }
  .mob .design-title {
    font-size: 6rem;
    font-family: 'Intro';
    color: #024e82; }
  .mob .design-list {
    list-style: none;
    font-family: 'Avanti';
    font-size: 3rem;
    line-height: 1; }

.mob .polygraphy {
  background-image: url("../img/polygraphy--bg.png");
  background-position: 50%;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  .mob .polygraphy-wrap {
    display: flex;
    padding-top: 75px;
    background-image: url("../img/paper--bg.png");
    background-position: 50% 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    height: 100vh; }
    @media (max-width: 75em) {
      .mob .polygraphy-wrap {
        background-size: 95%; } }
    @media (min-width: 112.5em) {
      .mob .polygraphy-wrap {
        padding-top: 150px; } }
    @media (width: 1280px) {
      .mob .polygraphy-wrap {
        background-size: 100%; } }
    .mob .polygraphy-wrap.animate {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      backface-visibility: hidden; }
  .mob .polygraphy-content {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
    align-self: center;
    padding: 0 12%;
    height: 30vw;
    font-family: 'B52';
    font-size: 3rem;
    line-height: 1; }
    @media (max-width: 75em) {
      .mob .polygraphy-content {
        padding: 0 16%; } }
    @media (min-width: 112.5em) {
      .mob .polygraphy-content {
        padding: 0 5%; } }
  .mob .polygraphy-title {
    padding-left: 100px;
    font-size: 7rem; }
  .mob .polygraphy-column {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%; }
  .mob .polygraphy-list {
    list-style: none; }
  .mob .polygraphy-separator {
    padding-left: 100px; }

.mob .video {
  background-image: url("../img/video--bg.png");
  background-position: 50%;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  .mob .video-wrap {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 150px; }
    .mob .video-wrap.animate {
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      backface-visibility: hidden; }
  .mob .video-right {
    width: 40%;
    height: 70vh;
    margin-left: auto;
    border: 10px solid #fff200; }
  .mob .video-title {
    background-color: #fff200;
    color: transparent;
    text-align: center;
    text-transform: uppercase; }
    .mob .video-title span {
      font-family: 'Intro';
      font-size: 9rem;
      color: #231f20; }
  .mob .video-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%; }
  .mob .video-list {
    padding: 3rem;
    list-style: none;
    color: #fff; }
  .mob .video-item {
    font-family: 'Avanti';
    font-size: 3rem;
    line-height: 1; }
  .mob .video-link-wrap {
    text-align: center;
    font-family: 'Avanti';
    font-size: 3rem;
    color: #fff; }

.mob .web {
  background-image: url("../img/web--bg.png");
  background-position: 50%;
  background-size: cover;
  width: 100vw;
  height: 100vh; }
  .mob .web-wrap {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px; }
    .mob .web-wrap.animate {
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      backface-visibility: hidden; }
  .mob .web-right {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto; }
  .mob .web-title {
    font-family: 'Pixel Cyr';
    font-size: 8rem; }
  .mob .web-list {
    list-style: none;
    color: #6a400e;
    margin-bottom: 3rem; }
  .mob .web-item {
    font-family: 'Pixel Cyr';
    font-size: 3rem;
    line-height: 1.5; }

.mob .contacts {
  background: #000082;
  width: 100vw;
  height: 100vh; }
  .mob .contacts-wrap.animate {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden; }
  .mob .contacts-content {
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 110px; }
    .mob .contacts-content .btn {
      align-self: center; }
  .mob .contacts-list {
    text-align: right;
    align-self: flex-end;
    list-style: none;
    z-index: 3; }
  .mob .contacts-item a {
    color: #fff;
    font-family: 'Perfect DOS VGA 437 Win';
    font-size: 2rem;
    text-decoration: none; }
  .mob .contacts-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-self: center; }
    .mob .contacts-form label {
      color: #fff;
      font-family: 'Perfect DOS VGA 437 Win';
      font-size: 2rem; }
    .mob .contacts-form input,
    .mob .contacts-form textarea {
      margin-bottom: 1rem;
      padding: 1rem;
      resize: none; }
    .mob .contacts-form .btn {
      align-self: flex-end; }
