.main {
	transform: translate3d(0px, 0px, 0px);
	transition: all 700ms ease;
	overflow-y: hidden;
	scroll-behavior: smooth;
}

.home {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background: $color-grey-light-2;

	&-main-wrap {
		position: relative;

		height: 100vh;
		animation-name: moveInRight;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		backface-visibility: hidden;

		&::before,
		&::after {
			content: '';
			position: absolute;
		}

		&::before {
			width: 55%;
			height: 100%;
			background: {
				image: url('../img/main--gepart.png');
				position: 99%;
				size: cover;
			}
		}

		&::after {
			bottom: 0;
			right: 0;
			width: 30%;
			height: 20%;
			background: {
				image: url('../img/main--dots.png');
				size: cover;
			}
		}
	}
	&-main {
		&-container {
			@include container;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			height: 65vh;
			margin-top: 13vh;

			@include respond(big-desktop) {
				margin-top: 10vh;
			}
		}

		&-title {
			position: relative;
			padding: 12rem 0;
			font: {
				family: 'Intro';
				size: 4.5rem;
			}
			line-height: 1;
			text-transform: uppercase;
			color: $color-grey-dark;
			writing-mode: vertical-rl;
			transform: rotate(180deg);

			@include respond(big-desktop) {
				padding: 13rem 0;
				font-size: 5.5rem;
			}

			&::before {
				content: '\25B2\25B2\25B2';
				position: absolute;
				bottom: 1.5rem;
				right: 3rem;
				font-size: 5rem;
				letter-spacing: -15px;

				@include respond(big-desktop) {
					bottom: -1.5rem;
				}
			}
		}

		&-dots {
			position: absolute;
			left: -0.5rem;
			top: -0.5rem;
			letter-spacing: -15px;
			font-size: 4rem;

			&--orange {
				color: $color-secondary;
			}
		}

		&-text {
			position: relative;

			text: {
				align: right;
				transform: lowercase;
			}
			padding-right: 1rem;
			font: {
				family: 'Avanti';
				size: 3rem;
			}
			line-height: 1;

			&::before {
				content: '';
				position: absolute;
				top: 4.3rem;
				left: calc(7rem - 270px);
				width: 270px;
				height: 10px;
				background-color: $color-black;
			}
		}
	}
}

.about {
	background: {
		image: url('../img/about--bg.png');
		position: 0 0;
		size: cover;
	}
	width: 100vw;
	height: 100vh;

	&-wrap {
		@include container;

		display: flex;
		justify-content: space-between;
		height: 100%;
		padding-top: calc(100px + 5rem);

		&.animate {
			animation-name: moveInLeft;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			backface-visibility: hidden;
		}
	}

	&-img-wrap {
		position: relative;
		width: 54%;
		height: 95%;
		padding-top: 4rem;

		// &::before {
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	right: 40%;
		// 	width: 200px;
		// 	height: 100px;
		// 	background: url('../img/waves--1.png') no-repeat;
		// 	z-index: 2;
		// }
	}

	&-img--gepard {
		position: relative;
		display: block;
		width: 90%;
		text-align: center;

		& img {
			width: 70%;
			text-align: center;

			@include respond(big-desktop) {
				width: 100%;
			}
		}
	}

	&-img--cat {
		position: absolute;

		top: 55%;

		@include respond(big-desktop) {
			top: 50%;
		}

		& img {
			width: 70%;

			@include respond(big-desktop) {
				width: 100%;
			}
		}
	}

	&-img-text {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		font: {
			family: 'Besom 2';
			size: 4.7rem;
		}
		line-height: 1;
	}

	&-img--ready {
		position: relative;
		padding-right: 30%;
		transform: rotate(-10deg) translate(0, -8rem);

		@include respond(big-desktop) {
			padding-right: 23%;
			transform: rotate(-10deg) translate(0, -4rem);
		}

		& span {
			padding-left: 10rem;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
		}

		&::before {
			top: -120px;
			left: 5rem;
			width: 35px;
			height: 100px;
			background: url('../img/arrow--1.png') no-repeat;
			transform: rotate(10deg);
		}

		&::after {
			width: 200px;
			height: 85px;
			left: 0;
			bottom: -7rem;
			background: url(../img/waves--1.png) no-repeat;
			transform: rotate(35deg);
		}
	}

	&-img--mockup {
		position: relative;
		padding-right: 30%;
		transform: translate(0, 0);

		@include respond(big-desktop) {
			padding-right: 10%;
			transform: translate(0, 9rem);
		}

		& span {
			padding-left: 5rem;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
		}

		&::before {
			top: -40px;
			left: -80px;
			width: 250px;
			height: 100px;
			background: url('../img/arrow--2.png') no-repeat;
			transform: rotate(10deg);
		}
	}

	&-text-wrap {
		position: relative;
		width: 46%;
		height: 90%;
		margin-top: 3rem;
		border: 25px solid #fff;
		border-image: url('../img/about-border.png') 30 round round;

		&::before {
			content: 'О нас';
			position: absolute;
			left: -50%;
			top: -3rem;
			width: 150%;
			font: {
				family: 'Intro';
				size: 17rem;
			}
			text-transform: uppercase;
			line-height: 0;
			opacity: 0.1;
		}
	}

	&-title {
		font: {
			family: 'Intro';
			size: 6rem;
		}
		margin-top: 0;
		margin-bottom: 3rem;
		line-height: 1;
	}

	&-text {
		font: {
			family: 'Avanti';
			size: 3rem;
		}
		line-height: 1;

		&--marked {
			font-size: 4rem;
			line-height: .8;
			// padding: 4rem 0;
		}
	}

	&-typography {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 85%;
	}
}

.design {
	background: {
		image: url('../img/design--bg.png');
		position: 50%;
		size: cover;
	}
	width: 100vw;
	height: 100vh;

	&-wrap {
		@include container;
		padding: 0 15%;
		padding-top: 8%;
		&.animate {
			animation-name: moveInRight;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			backface-visibility: hidden;
		}

		@include respond(tab-land) {
			padding: 0 13%;
			padding-top: 20%;
		}

		@include respond(big-desktop) {
			padding: 0 5%;
			padding-top: 15%;
		}

		p {
			font: {
				family: 'Avanti';
				size: 4rem;
			}
			line-height: 1;
		}

		h3 {
			font: {
				family: 'Avanti';
				size: 4rem;
			}
			background-color: #eb6ca9;
			width: max-content;
			padding: 0 1rem;
			text-transform: uppercase;
			color: $color-white;
		}

		h4 {
			font: {
				family: 'Avanti';
				size: 3rem;
				weight: normal;
			}
			margin-top: 12rem;
			padding: 0 5rem;
			border-top: 2px solid $color-white;
			width: max-content;

			@include respond(tab-land) {
				margin-top: 3rem;
			}

			@include respond(big-desktop) {
				margin-left: 5rem;
				margin-top: 15rem;
			}
		}

		h5 {
			font: {
				size: 2rem;
				family: 'Intro';
			}
			text-align: center;
			line-height: 1;

			&img {
				vertical-align: sub;
			}

			& span {
				color: #eb6ca9;
			}
		}
	}

	&-bordered {
		width: max-content;
		padding: 2rem;
		border: 4px solid #0096c2;
	}

	&-title {
		font: {
			size: 6rem;
			family: 'Intro';
		}
		color: #024e82;
	}

	&-list {
		list-style: none;
		font: {
			family: 'Avanti';
			size: 3rem;
		}
		line-height: 1;
	}
}

.polygraphy {
	background: {
		image: url('../img/polygraphy--bg.png');
		position: 50%;
		size: cover;
	}
	width: 100vw;
	height: 100vh;

	&-wrap {
		display: flex;
		padding-top: 75px;
		background: {
			image: url('../img/paper--bg.png');
			position: 50% 100%;
			size: 70%;

			repeat: no-repeat;
		}
		@include respond(tab-land) {
			background-size: 95%;
		}

		@include respond(big-desktop) {
			padding-top: 150px;
		}

		@media (width: 1280px) {
			background-size: 100%;
		}
		height: 100vh;

		&.animate {
			animation-name: moveInLeft;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			backface-visibility: hidden;
		}
	}

	&-content {
		@include container;
		align-self: center;
		padding: 0 12%;
		height: 30vw;
		font: {
			family: 'B52';
			size: 3rem;
		}
		line-height: 1;

		@include respond(tab-land) {
			padding: 0 16%;
		}

		@include respond(big-desktop) {
			padding: 0 5%;
		}
	}

	&-title {
		padding-left: 100px;
		font-size: 7rem;
	}

	&-column {
		padding-left: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 75%;
	}

	&-list {
		list-style: none;
	}

	&-separator {
		padding-left: 100px;
	}
}

.video {
	background: {
		image: url('../img/video--bg.png');
		position: 50%;
		size: cover;
	}
	width: 100vw;
	height: 100vh;

	&-wrap {
		@include container;
		padding-top: 150px;
		&.animate {
			animation-name: moveInRight;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			backface-visibility: hidden;
		}
	}

	&-right {
		width: 40%;
		height: 70vh;
		margin-left: auto;
		border: 10px solid #fff200;
	}

	&-title {
		background-color: #fff200;
		color: transparent;
		text: {
			align: center;
			transform: uppercase;
		}

		span {
			font: {
				family: 'Intro';
				size: 9rem;
			}
			color: #231f20;
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 65%;
	}

	&-list {
		padding: 3rem;
		list-style: none;
		color: $color-white;
	}

	&-item {
		font: {
			family: 'Avanti';
			size: 3rem;
		}
		line-height: 1;
	}

	&-link-wrap {
		text-align: center;
		font: {
			family: 'Avanti';
			size: 3rem;
		}
		color: $color-white;
	}
}

.web {
	background: {
		image: url('../img/web--bg.png');
		position: 50%;
		size: cover;
	}
	width: 100vw;
	height: 100vh;

	&-wrap {
		@include container;
		padding-top: 100px;

		&.animate {
			animation-name: moveInLeft;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			backface-visibility: hidden;
		}
	}

	&-right {
		display: flex;
		flex-direction: column;
		width: 30%;
		margin-left: auto;
	}

	&-title {
		font: {
			family: 'Pixel Cyr';
			size: 8rem;
		}
	}

	&-list {
		list-style: none;
		color: #6a400e;
		margin-bottom: 3rem;
	}

	&-item {
		font: {
			family: 'Pixel Cyr';
			size: 3rem;
		}
		line-height: 1.5;
	}
}

.contacts {
	background: #000082;
	width: 100vw;
	height: 100vh;

	&-wrap {
		&.animate {
			animation-name: moveInRight;
			animation-duration: 1s;
			animation-timing-function: ease-out;
			backface-visibility: hidden;
		}
	}

	&-content {
		@include container;
		display: flex;
		flex-direction: column;
		padding-top: 110px;

		.btn {
			align-self: center;
		}
	}

	&-list {
		text-align: right;
		align-self: flex-end;
		list-style: none;
		z-index: 3;
	}

	&-item {
		a {
			color: $color-white;
			font: {
				family: 'Perfect DOS VGA 437 Win';
				size: 2rem;
			}
			text-decoration: none;
		}
	}

	&-form {
		display: flex;
		flex-direction: column;
		width: 70%;

		align-self: center;

		label {
			color: $color-white;
			font: {
				family: 'Perfect DOS VGA 437 Win';
				size: 2rem;
			}
		}

		& input,
		& textarea {
			margin-bottom: 1rem;
			padding: 1rem;
			resize: none;
		}

		.btn {
			align-self: flex-end;
		}
	}
}
